
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    background-color: #dee2e68a;
    font-size: small;
    direction: rtl;
}

.container {
    margin-top: 3em;
}

.form-content{
    background-color: #f9f9f9;
    margin: 2em auto;
    border-radius: 15px;
    padding: 2em 0;
    width: 85%;
    box-shadow: inset -4px -4px 8px rgb(255 255 255 / 50%), inset 8px 8px 16px rgb(0 0 0 / 10%);
}

webinar-form {
    display: flex;
    align-content: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: large;
}

form.auth {
    margin: auto;
    width: 60%;
}

.change-auth-link {
    text-align: center;
    margin-top: 2em;
}

.alert {
    width: 80%;
    margin: 1em auto;
}

.header {

}

.webinars {
    direction: rtl;
    margin-top: 1em;
}

a {
    text-decoration: none;
    color: #000000;
}

.nav {
    margin: 3em 0;
}

.webinar-form {
    padding: 5px 35px;

}

