
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    background-color: #dee2e68a;
    font-size: small;
    direction: rtl;
}

.container {
    margin-top: 3em;
}

.auth-content{
    background-color: #f9f9f9;
    margin: 5em auto;
    border: 1px solid #666666;
    border-radius: 6px;
    padding: 2em 0;
    width: 65%;
}
h1 {
    text-align: center;
    font-size: large;
}

form.auth {
    margin: auto;
    width: 60%;
}

.change-auth-link {
    text-align: center;
    margin-top: 2em;
}

.header {

}

.webinars {
    direction: rtl;
    margin-top: 1em;
}
